<h1 xmlns="http://www.w3.org/1999/html" class="gameinfo-h1">英雄联盟资料库</h1>
<div class="card-container">
  <a class="card-item" routerLink="/英雄资料">
    <mat-card class="docs-card card-section">
      <mat-card-title>
        <section>英雄资料</section>
      </mat-card-title>
      <mat-card-content>
        <p>你可以在其中查看所有英雄的详细信息，并且模拟升级和点技能以及出装</p>
      </mat-card-content>
    </mat-card>
  </a>
  <a class="card-item">
    <mat-card class="docs-card card-section">
      <mat-card-title>
        <section>武器资料</section>
      </mat-card-title>
      <mat-card-content>
        <p>你可以在其中查看所有武器的详细信息,并且模拟升级和点技能以及出装</p>
      </mat-card-content>
    </mat-card>
  </a>

</div>

