.d-bg {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  z-index: -9;
  opacity: 1;
}

.example-card {
  position: relative;

}

.example-header-image {
  background-size: cover;
}

.back {
  position: fixed;
  z-index: 1;
  margin-left: 1em;
  margin-top: 1em;
  display: none;
}

.scroll {
  overflow: scroll;
  height: 100%;
}

.detail-page {
  // padding: 1em 2em;
  margin: 0;
  @media only screen and (min-device-width: 1025px) {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .detail-header {

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    color: white;

    position: relative;
    // margin: 0 -2em 1em;
    padding: 3em 2em 5em;
    .detail-img {
      margin-right: 2em;
      display: inline-block;
      img {
        max-width: 120px;
        height: auto;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.9);
      }
    }
    .detail-title {
      display: inline-block;
      position: absolute;
      margin-top: 1.8em;
      margin-left: 1em;

      .detail-champion-title {
        font-size: 1em;
        color: white;
      }
      .detail-champion-name {
        font-size: 2em;
        color: white;
      }

      .detail-champion-name {
        display: block;
      }
    }
    .detail-info {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      line-height: 1em;
      padding: 1em 2em;
      color: #fafafa;

      .list-unstyled {
        padding-left: 0;
        list-style: none;
        margin: 0;
        li {
          display: inline-block;
          padding-left: 1em;
          padding-right: 1em;
        }
      }
    }
  }
  .detail-tabs {
    .example-tab-icon {
      margin-right: 8px;
    }

    .detail-lore {
      padding: 2em 0 2em;
      width: 90%;
      margin: auto;
    }

  }
}

table {
  width: 100%;
}




